In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
df=pd.read_csv('C:\\Users\\91993\\Downloads\\5th sem\\ML\\ML_code\\student_purchase_behaviour.csv')
df0=pd.read_csv('C:\\Users\\91993\\Downloads\\5th sem\\ML\\ML_code\\student_purchase_behaviour.csv')
df

     0      age  income student credit_rating buys_computer
0    1     <=30    high      no          fair            no
1    2     <=30    high      no     excellent            no
2    3  31...40    high      no          fair           yes
3    4      >40  medium      no          fair           yes
4    5      >40     low     yes          fair           yes
5    6      >40     low     yes     excellent            no
6    7  31...40     low     yes     excellent           yes
7    8     <=30  medium      no          fair            no
8    9     <=30     low     yes          fair           yes
9   10      >40  medium     yes          fair           yes
10  11     <=30  medium     yes     excellent           yes
11  12  31...40  medium      no     excellent           yes
12  13  31...40    high     yes          fair           yes
13  14      >40  medium      no     excellent            no

In [3]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df["age"] = label_encoder.fit_transform(df["age"])
df["income"] = label_encoder.fit_transform(df["income"])
df["student"] = label_encoder.fit_transform(df["student"])
df["credit_rating"] = label_encoder.fit_transform(df["credit_rating"])
df["buys_computer"] = label_encoder.fit_transform(df["buys_computer"])


df.to_csv('buys_comp_dataset.csv')

df

     0  age  income  student  credit_rating  buys_computer
0    1    1       0        0              1              0
1    2    1       0        0              0              0
2    3    0       0        0              1              1
3    4    2       2        0              1              1
4    5    2       1        1              1              1
5    6    2       1        1              0              0
6    7    0       1        1              0              1
7    8    1       2        0              1              0
8    9    1       1        1              1              1
9   10    2       2        1              1              1
10  11    1       2        1              0              1
11  12    0       2        0              0              1
12  13    0       0        1              1              1
13  14    2       2        0              0              0

In [4]:
dout = (df['buys_computer']).value_counts()
total_count = df['buys_computer'].count()
probability=[(dout[1]/total_count),(dout[0]/total_count)]
print(probability)

[0.6428571428571429, 0.35714285714285715]

In [5]:
df1=df0.loc[df0['buys_computer'] == 'yes']
df2=df0.loc[df0['buys_computer'] == 'no']

# Age
age1=[df1.loc[df1['age']== 0].shape[0]/df1.shape[0],df1.loc[df1['age']== 1].shape[0]/df1.shape[0],df1.loc[df1['age']== 2].shape[0]/df1.shape[0]]
age2=[df2.loc[df2['age']== 0].shape[0]/df2.shape[0],df2.loc[df2['age']== 1].shape[0]/df2.shape[0],df2.loc[df2['age']== 2].shape[0]/df2.shape[0]]
print(age1)
print(age2)

#income
inc1=[df1.loc[df1['income']== 'low'].shape[0]/df1.shape[0],df1.loc[df1['income']== 'medium'].shape[0]/df1.shape[0],df1.loc[df1['income']== 'high'].shape[0]/df.shape[0]]
inc2=[df2.loc[df2['income']== 'low'].shape[0]/df2.shape[0],df2.loc[df2['income']== 'medium'].shape[0]/df2.shape[0],df2.loc[df2['income']== 'high'].shape[0]/df1.shape[0]]
print(inc1)
print(inc2)

[0.0, 0.0, 0.0]
[0.0, 0.0, 0.0]
[0.3333333333333333, 0.4444444444444444, 0.14285714285714285]
[0.2, 0.4, 0.2222222222222222]

In [6]:
#Student
stu1=[df1.loc[df1['student']== 'yes'].shape[0]/df1.shape[0],df1.loc[df1['student']== 'no'].shape[0]/df1.shape[0]]
stu2=[df2.loc[df2['student']== 'yes'].shape[0]/df2.shape[0],df2.loc[df2['student']== 'no'].shape[0]/df2.shape[0]]
print(stu1)
print(stu2)



#Credit_rating
cred1=[df1.loc[df1['credit_rating']== 'excellent'].shape[0]/df1.shape[0],df1.loc[df1['credit_rating']== 'fair'].shape[0]/df1.shape[0]]
cred2=[df2.loc[df2['credit_rating']== 'excellent'].shape[0]/df2.shape[0],df2.loc[df2['credit_rating']== 'fair'].shape[0]/df2.shape[0]]
print(cred1)
print(cred2)

[0.6666666666666666, 0.3333333333333333]
[0.2, 0.8]
[0.3333333333333333, 0.6666666666666666]
[0.6, 0.4]

In [7]:
matrix=[]
arr=[]
for i in range(0,4):
  arr.append(df.iloc[:,i].to_numpy())
for i in range(0,4):
  mat=[]
  for j in range(i+1,4):
    mat.append(np.dot(arr[i],arr[j]))
  matrix.append(mat)

print(matrix)

[[109, 145, 61], [21, 8], [8], []]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
train_data=df.iloc[:,:-1]
y=df.iloc[:,-1]
train_x,test_x,train_y,test_y = train_test_split(train_data,y,test_size=0.3)

In [9]:
model = GaussianNB()
model.fit(train_x,train_y)
model.score(test_x,test_y)

0.4